<div data-role="header">
  <h1><%= @facility.Name %></h1>
  <%= link_to 'Back', facility_path(@facility), { "data-icon"  => "back" } %> 
  <%= link_to 'Home', facilities_path, { "data-icon"  => "home" }  %>
</div>

<div data-role="content">
  <%= form_for :facility, :url => facility_path, :method => :put do |f| %>
    <div class="field">
      <%= f.label :Name %><br />
      <%= f.text_field :Name %>
    </div>
    <div class="field">
      <%= f.label :Description__c %><br />
      <%= f.text_area :Description__c %>
    </div>
    <div class="field">
      <%= f.label :Hours__c %><br />
      <%= f.text_field :Hours__c %>
    </div>
    <div class="field">
      <%= f.label :Location__c %><br />
      <%= f.text_field :Location__c %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
