<div data-role="header">
    <h1>Chow Finder</h1>
</div>

<%= image_tag "chow.png", :width => "75%", :style => 'display: block; margin-left: auto; margin-right: auto;' %>

<div data-role="content">
    <ul data-role="listview" data-filter="true">
    <% @facilities.each do |facility| %>
    <li>
        <%= link_to facility_path(facility) do %>
        <h3><%= facility.Name %></h3><p><%= facility.Location__c %></p>
        <% end %>
    </li>
    <% end %>
    </ul>
</div>

<div data-role="footer">
    <div data-role="navbar" data-position="fixed" data-iconpos="top">
        <ul>
            <li><%= link_to 'Favs', favorites_path, "data-icon" => "star" %></li>
            <li><%= link_to 'Add', new_facility_path, "data-icon" => "plus" %></li>
            <li><a href="#" data-icon="info">About</a></li>
        </ul>
    </div>
</div>